---
import MainLayout from "@/components/partial/layouts/MainLayout.astro";
import JavaScriptOne from "@/contents/javascript.mdx";
---

<MainLayout
  title="JavaScript"
  description="Best place to find developer interview questions"
>
  <div class="grid grid-cols-12  min-h-[calc(100vh-80px)]">
    <div class="col-span-8 py-6">
      <div class="blog-wrapper p-4">
        <JavaScriptOne />
      </div>
    </div>
    <div class="col-span-4  min-h-[calc(100vh-80px)] bg-gray-100/40">
      <div class="py-8 ps-4">
        <h3>Other Guides</h3>
      </div>
    </div>
  </div>
</MainLayout>
